#navbar > ul.nav.navbar-nav.navbar-right > a  {
  margin-left: 15px;
}

body > .container {
  margin-top: 90px;
}

body > footer {
  text-align: center;
}

.navbar-text {
    float: none;
}

canvas {
  border: 1px solid black;
}
